.banner{
    background-image: url(../../assets/img/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 669px;
    border-bottom: 10px solid black;    
}
.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 735px;
    padding-top: 50px;
    padding-left: 790px;
}
.banner .navegation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 38px;
}