.button{
    display: inline-block;
    background-color: #f51212;
    box-shadow: 5px 5px black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-right: 0;
    transition: transform 100ms linear;
    font-size: 20px;
    color: white;
    font-family: "fira code", Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.button:hover{
    transform: scale(1.08);
}