.header{
    display: flex;
    background-color: #797373;
    border-bottom: 10px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}