.main-title{
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #f51212;
    text-shadow: 4px 4px 0px black;
}
.main-title.-skills{
    text-shadow: none;
    text-align: center;
}
.main-title.-projects{
    text-shadow: none;
    text-align: center;
    color: white;
}
.main-title.-about{
    text-shadow: none;
    text-align: center;
    color: red;
}