.progress-bar{
    box-sizing: border-box;
    background-color: white;
    border: 5px solid black;
    height: 35  px;
}

.progress-bar::-webkit-progress-value {
    background-color: rgb(255, 57, 57);
}
