.main-section{
    background-image: url(../../assets/img/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 669px;
    border-bottom: 10px solid black;
    display: flex;    
    justify-content: right;
}
.main-section .wrapper{
    display: flex;
    flex-direction: column;
    width: 735px;
    padding-top: 50px;
    padding-right: 60px;
}
.main-section .navegation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 38px;
}
.skill-section{
    background-color: rgb(250, 198, 65);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid red;
}

.skill-section .main-title {
    margin-bottom: 70px;
}

.projects-section {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid red;
}
.about-section{
    background-color: rgb(250, 198, 65);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid red;
}