.skill-tec{
    display: flex;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    align-items: center;
}

.skill-tec .icon{
    margin-right: 30px;
    width: 90px;
}

.skill-tec .title {
    margin-bottom: 16px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}